/* --- Avatar do Perfil --- */
.profile-avatar {
    color: var(--color-text-on-primary);
    font-weight: var(--font-weight-bold);
    cursor: pointer;
    border: 2px solid var(--color-text-secondary);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }
  
  .profile-avatar:hover {
    transform: scale(1.1);
    box-shadow: 0 0 5px var(--color-primary);
  }
  
  /* --- Menu do Perfil --- */
  .profile-menu .MuiListItemIcon-root {
    color: var(--color-text-secondary);
    transition: color 0.2s ease;
    margin-left: 5px;
  }
  
  .profile-menu .MuiMenuItem-root:hover .MuiListItemIcon-root {
    color: var(--color-primary) !important;
  }
  
  /* Estilo específico para o ícone de perfil */
  .profile-menu-icon {
    color: var(--color-primary) !important;
  }
  
  /* Estilo específico para o item de logout */
  .logout-item:hover {
    background-color: rgba(233, 78, 119, 0.1) !important;
    color: var(--color-error) !important;
  }
  .logout-item:hover .MuiListItemIcon-root {
    color: var(--color-error) !important;
  }