.language-selector-btn {
    color: var(--color-text-secondary) !important;
    transition: transform 0.3s ease !important;
  }
  
  .language-selector-btn:hover {
    transform: scale(1.1);
    background-color: transparent !important;
  }
  
  .main-flag-icon {
    font-size: 1.2em !important;
  }
  
  .menu-flag-icon {
    font-size: 1.3em !important;
  }
  
  .MuiListItemIcon-root{
    margin-left:  0 !important;
  }

