/* =================================================================== */
/* بخش تنظیمات اصلی و تغییر رمز عبور */
/* =================================================================== */

.p-user-main-settings {
  
  padding: 40px 48px;
  background-color: var(--color-background-content);
  backdrop-filter: blur(20px) saturate(180%);
  -webkit-backdrop-filter: blur(20px) saturate(180%);
}

.p-user-settings-title-group {
  background-color: var(--color-background-hover);
  border-radius: 16px;
    padding: 16px 20px;
    margin-bottom: 32px;
    border: 1px solid var(--color-border);
    display: flex;
    align-items: center;
    gap: 16px;
}

.p-user-settings-title-group .MuiSvgIcon-root {
    background: var(--gradient-primary);
    color: var(--color-text-on-primary);
    border-radius: 50%;
    padding: 8px;
    font-size: 40px !important;
    box-shadow: 0 5px 10px -3px var(--color-primary);
}

.p-user-settings-title {
    font-family: "Vazirmatn" !important;
    font-weight: 700 !important;
    font-size: 1.5rem !important;
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }
  
  .p-user-password-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
  }
  
  .p-user-password-view {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-background-hover);
    padding: 20px 24px;
    border-radius: 16px;
    border: 1px solid var(--color-border);
  }
  
  .p-user-form-buttons {
    display: flex;
    gap: 16px;
    align-items: center;
    
    margin-top: 8px;
  }
  .p-user-form-buttons Button:not(.p-user-main-btn){
    font-family: "Vazirmatn" !important;
  }

@media (max-width: 600px) {
  .p-user-main-settings {
    padding: 24px;
  }

  .p-user-settings-title {
    font-size: 1.2rem !important;
  }
  .p-user-form-buttons {
    flex-wrap: wrap; /* دکمه‌ها در صورت کمبود جا به خط بعدی می‌روند */
  }
 
}