/* src/components/Sidebar.css */

.sidebar-container {
  display: flex;
  flex-direction: column;
  width: var(--sidebar-width, 250px);
  height: 100vh;
  background-color: var(--color-background-content);
  border-inline-end: 1px solid var(--color-border);
  transition: width 0.3s cubic-bezier(0.4, 0, 0.2, 1),
    background-color 0.3s ease, border-color 0.3s ease;
  position: sticky;
  top: 0;
  z-index: 12;
  gap: 30px;
}

.sidebar-container.collapsed {
  width: var(--sidebar-width-collapsed, 88px);
}

.sidebar-header {
  padding: 1.25rem 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  margin-top: 1rem;
}

.menu-wrapper {
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 0 1rem;
}












/* src/components/Sidebar/Sidebar.css */
@media (max-width: 768px) {

   .sidebar-container {
    position: fixed;
    top: 0;
    
  visibility: hidden;
    height: 100vh;
    z-index: 2000;
    width: 280px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    

    /* transform: translateX(-100%); */
    transition: transform 0.3s ease-in-out;
  }
  /* ... */
  /* استایل برای انگلیسی با کلاس جدید */
  .sidebar-container.sidebar-ltr {
    left: 0;
    transform: translateX(-100%);
  }
  .sidebar-container.sidebar-ltr.mobile-open {
    transform: translateX(0);
    visibility: visible;

  }

  /* استایل برای فارسی با کلاس جدید */
  .sidebar-container.sidebar-rtl {
    right: 0;
    transform: translateX(100%);
  }
  .sidebar-container.sidebar-rtl.mobile-open {
    transform: translateX(0);
    visibility: visible;
  }
 
}
